* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 64px auto;
  width: 290px;
  
}

.from-login {
  padding: 8px;
}

.from-login h2 {
  margin: 8px 8px 16px 4px;
}

.form-in ul {
  list-style-type: none;
}

.form-in li {
  margin: 4px;
}

.form-in input {
  width: 185px;
}

.email-in {
  margin-left: 31px;
}

.btn-submit {
  margin: 16px 4px 8px 4px;
  padding-left: 218px;
}

.btn {
  width: 46px;
  border: none;
  background-color: #000;
  color: #fff;
  line-height: 24px;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}